[{:db/id -1, :kotoba.app/name "moyoshi", :kotoba.app/version "0.3.0", :kotoba.app/components "[{:name \"moyoshi\", :src \"src/moyoshi/methods/mesh.clj\", :scale 1, :triggers [{:type :kse, :topic \"etzhayyim/actor/moyoshi\"}], :requires #{:cap/kqe}}]", :kotoba.app/placement "{:spread :zone, :require {:tier \"edge\"}}"}]
